[Unit]
Description=ROS 2 PX4 Translation Node
After=network-online.target

[Service]
Type=simple
User=usmsm
Group=usmsm
ExecStart=/bin/bash /home/usmsm/Jacob_Ladder/services/run_translation_node.sh
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=translation_node_service

[Install]
WantedBy=multi-user.target
