[Unit]
After=network-online.target
Description=USB Camera Driver

[Service]
Type=simple
User=jacob
Group=jacob
ExecStart=/bin/bash /etc/systemd/system/run_usb_cam.sh
Restart=on-failure
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=usb_cam_service

[Install]
WantedBy=default.target
